@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  background: #fff;
  width: 100%;
  box-shadow: 0px 4px 79px -32px rgba(0, 0, 0, 0.25);
}
nav .logo {
  height: 100px;
  margin-right: 2rem;
}
nav span {
  font-family: "DynaPuff", cursive;
  font-size: 3rem;
}
.formContainer {
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-self: center;
  font-family: "Exo 2", sans-serif;
}
.formContainer div {
  display: flex;
  flex-direction: column;
}
.formContainer div .fieldName {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.formContainer div .fields {
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: 1px solid #2d3bb7;
  width: 20rem;
}
label.uploadLabel {
  font-size: 1.5rem;
  text-align: center;
}
.hide {
  display: none;
}
.ccLabel {
  font-size: 1rem;
}
.checkParent .checkChild {
  display: flex;
  flex-direction: row;
}
.checkParent .checkChild input {
  margin-right: 1rem;
}
.submitBtnParent {
  grid-column-start: 1;
  grid-column-end: 3;
}
.submitBtnParent .submitBtn {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 4rem;
  border-radius: 1rem;
  background: #38488a;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.svgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (min-width: 500px) and (max-width: 750px) {
  .formContainer {
    margin: 2rem;
    margin-bottom: 1rem;
  }
  .formContainer div .fields {
    width: 100%;
  }
}
.svgmakeinstance{
  width:100px;
  height:200px;
}
@media only screen and (max-width: 500px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .formContainer div .fields {
      width: 100%;
    }
    nav .logo{
        margin-right: 1rem;
    }
    nav span {
        font-family: "DynaPuff", cursive;
        font-size: 2rem;
    }
}
