/* *{
    margin: 0px;
    padding: 0px;
} */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
} 
.form-det{
    text-align: center;
}
#main, #sub {
    background-color: transparent; 
    outline: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    border: black solid 2px
}
#id {
    width: 55%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgb(236, 236, 236);
    color: gray;
    text-align: center;
 }
nav{
    font: 600;
   /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}