/* *{
    margin: 0px;
    padding: 0px;
} */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
} 
.title {
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    
}
b, strong {
    font-weight: bolder;
    font-size: 50px;
}
.form-det{
    text-align: center;
}
#main, #sub {
    background-color: transparent; 
    outline: none; 
    padding: 5px 10px; 
    border-radius: 9px; 
    border: black solid 2px;
    width: 20%;
}

#id {
    width: 55%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgb(236, 236, 236);
    color: gray;
    text-align: center;
 }

nav{
    font: 600;
    
}

button {
    background: #255ff4;
    border-radius: 0.2em;
    color: #fff;
    cursor: pointer;
    display: flex;
    margin: auto;
    padding: 0.5em 1em;
    position: relative;
    transition: background 0.15s linear;
    width: 10.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    
  }
 